---
import MainLayout from "../../../layouts/MainLayout.astro";
import RippleGlass from "../../../components/RippleGlass.astro";
import Paginate from "../../../components/Paginate.astro";
import Wavelengths from "../../../components/Wavelengths.astro";

import { slugify, formatRipples, type Ripple } from "../../../ts/utils";

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const allRipples = await Astro.glob("../../ripples/*.mdx");
  const ripples: Ripple[] = allRipples.map((ripple) => ({
    frontmatter: ripple.frontmatter as Ripple["frontmatter"],
    url: ripple.url,
    category: ripple.frontmatter.category || "uncategorized",
  }));
  const formattedRipples = formatRipples(ripples);
  const allCategories = [
    ...new Set(formattedRipples.map((ripple) => ripple.category).flat()),
  ];
  return allCategories.flatMap((category) => {
    const categoryRipples = formattedRipples.filter(
      (ripple) => ripple.category === category,
    );
    return paginate(categoryRipples, {
      params: { category: slugify(category || "uncategorized") },
      pageSize: 6,
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
const capitalizedCategory =
  params.category.charAt(0).toUpperCase() + params.category.slice(1);
---

<MainLayout
  title={`${capitalizedCategory} ripples`}
  description="A small ripple can spread"
>
  <div
    class="mx-6 flex h-full justify-center gap-4 p-4"
    aria-label={`Ripples about ${params.category}`}
  >
    <div class="my-8 flex flex-col items-center gap-4">
      <h1 class="text-xl font-bold">
        <a
          href="/ripples"
          class="font-tilt text-4xl font-bold uppercase text-neon underline transition duration-500 hover:text-primary hover:underline hover:decoration-neon hover:shadow-neon hover:text-shadow-glow sm:no-underline md:text-5xl"
          >ripples</a
        >
        &nbsp;about&nbsp;{params.category}
      </h1>
      <div class="my-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((ripple: Ripple) => (
            <RippleGlass frontmatter={ripple.frontmatter} url={ripple.url} />
          ))
        }
      </div>
      <Paginate prevUrl={page.url.prev} nextUrl={page.url.next} />
      <aside
        class="mb-8 flex flex-col items-center justify-center gap-2 self-center"
        aria-label="Different ripples"
      >
        <h2 class="text-lg font-semibold">Different ripples</h2>
        <Wavelengths showCount={true} />
      </aside>
    </div>
  </div>
</MainLayout>
