---
import MainLayout from "../layouts/MainLayout.astro";

import Link from "../components/Link.astro";

import {
  skillDataWeb,
  skillDataRestaurant,
  skillLinks,
} from "../data/skillData";
---

<MainLayout title="Skills" description="Things I can do">
  <div class="flex justify-evenly">
    <div
      class="my-8 flex flex-col justify-evenly gap-4 rounded-sm border-2 border-neon border-opacity-30 p-6 shadow transition duration-300 hover:border-opacity-100 hover:bg-neon hover:bg-opacity-5 hover:shadow-glow hover:shadow-neon"
    >
      <h1 class="font-bold">
        <span
          class="md:text-5x font-tilt text-4xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow"
          >Skills&nbsp</span
        >
         I am currently honing :
      </h1>
      {
        skillLinks.map((item) => (
          <Link
            text={item.name}
            href={item.path}
            data-nav-link
            icon={{ name: item.icon?.name, side: item.icon?.side }}
          />
        ))
      }
    </div>
    <div class="flex flex-col">
      <h3>
        A strategic approach to <span
          class="font-tilt font-bold uppercase text-neon">Design</span
        > and <span class="font-tilt font-bold uppercase text-neon"
          >Development</span
        >
      </h3>
      {
        skillDataWeb.map((item) => (
          <>
            <h4>{item.discipline}</h4>
            <p>{item.description}</p>
          </>
        ))
      }
      <h2>Prior knowledge</h2>
      <h3>
        Restaurant <span class="font-tilt font-bold uppercase text-neon"
          >Management</span
        > and <span class="font-tilt font-bold uppercase text-neon">Chef</span>
         experience
      </h3>
      {
        skillDataRestaurant.map((item) => (
          <>
            <h4>{item.discipline}</h4>
            <p>{item.description}</p>
          </>
        ))
      }
    </div>
  </div>
</MainLayout>
