---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { workLinks, workTabItems } from "../data/workData.tsx";
import ReactTabs from "../components/ReactTabs.tsx";
---

<MainLayout title="Work" description="Jobs and projects">
  <div class="mx-6 flex h-full flex-col items-center justify-center gap-4 p-4">
    <h1 class="mt-4 text-lg font-bold">
      <span
        class="font-tilt text-4xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow md:text-5xl"
        >Work&nbsp</span
      >I have done
    </h1>
    <div class="w-full max-w-5xl md:pb-4">
      <ReactTabs items={workTabItems} client:only="react" />
    </div>
    <h2 class="text-lg font-semibold">Projects to see</h2>

    <div
      class="my-2 grid w-full max-w-5xl grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        workLinks.map((item) => (
          <div class="group/glass flex flex-col justify-evenly gap-2 rounded-sm border-2 border-neon border-opacity-40 bg-background bg-opacity-80 p-4 shadow transition duration-300 hover:border-opacity-100 hover:bg-opacity-100 hover:shadow-glow hover:shadow-neon">
            <Icon
              name={item.icon.name}
              class="h-8 w-8 text-primary transition duration-300 group-hover/glass:text-neon"
            />
            <h3 class="whitespace-nowrap font-tilt text-xl font-bold uppercase text-neon transition duration-500 group-hover/glass:text-primary group-hover/glass:text-shadow-glow ">
              {item.name}
            </h3>
            <p class="w-64 max-w-full">{item.description}</p>
            <Link
              href={item.link}
              text="Go to site"
              icon={{ name: "charm:link-external", side: "right" }}
              target="_blank"
              rel="noopener noreferrer"
            />
            <div class="relative m-4 w-64 max-w-full self-center transition duration-300 group-hover/glass:scale-105">
              <div class="absolute h-fit">
                <Image
                  class="brightness-125 grayscale filter duration-300 group-hover/glass:grayscale-0"
                  src={item.image}
                  alt={item.name}
                />
              </div>
              <div class="relative aspect-video bg-neon bg-opacity-20 transition duration-300 group-hover/glass:bg-inherit" />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
