---
import MainLayout from "../../layouts/MainLayout.astro";
import RippleGlass from "../../components/RippleGlass.astro";
import Paginate from "../../components/Paginate.astro";
import Wavelengths from "../../components/Wavelengths.astro";

import {
  formatRipples,
  type Ripple,
  type PageType,
  slugify,
  urlPrefix,
} from "../../ts/utils";

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const allRipples = await Astro.glob("../../posts/*.mdx");
  const ripples: Ripple[] = allRipples.map((ripple) => ({
    frontmatter: ripple.frontmatter as Ripple["frontmatter"],
    url: urlPrefix + slugify(ripple.frontmatter.title),
    category: ripple.frontmatter.category,
  }));
  const formattedRipples = formatRipples(ripples);

  return paginate(formattedRipples, { pageSize: 6 });
}

const { page }: { page: PageType } = Astro.props;
---

<MainLayout title="Ripples" description="A small ripple can spread">
  <div
    class="mx-6 flex h-full flex-col justify-center gap-4 p-4"
    aria-label="New Ripples"
  >
    <div class="mt-4 flex flex-col items-center gap-4 text-center">
      <h1 class="text-xl font-bold">
        Sending &nbsp;
        <span
          class="font-tilt text-4xl font-bold uppercase text-neon transition duration-500 hover:text-primary hover:shadow-neon hover:text-shadow-glow md:text-5xl"
          >ripples</span
        >
        &nbsp;into the ether
      </h1>
      <Paginate prevUrl={page.url.prev} />
      <div class="my-2 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          page.data.map((ripple) => (
            <RippleGlass frontmatter={ripple.frontmatter} url={ripple.url} />
          ))
        }
      </div>
    </div>
    <Paginate nextUrl={page.url.next} />
    <aside
      class="mb-8 flex flex-col items-center justify-center gap-2 self-center"
      aria-label="Different ripples"
    >
      <h2 class="text-lg font-semibold">Different ripples</h2>
      <Wavelengths showCount={true} />
    </aside>
  </div>
</MainLayout>
