---
import { Icon } from "astro-icon/components";
interface Props {
  text: string;
  href: string;
  icon: {
    name: string;
    side: "left" | "right";
  };
  target?: string;
  rel?: string;
}

const { text, href, icon, target, rel, ...rest } = Astro.props as Props;
---

<a
  href={href}
  target={target}
  rel={rel}
  {...rest}
  class="group inline-flex gap-1 rounded px-1 py-2 font-semibold uppercase text-primary transition md:border-0 md:p-0 md:hover:bg-transparent"
>
  {
    icon && icon.side === "left" && (
      <>
        <Icon
          name={icon.name}
          height="24"
          width="24"
          class="transition group-hover:text-neon"
        />
        <div class="flex flex-col">
          <span class="whitespace-nowrap">{text}</span>
          <span class="-mt-[3px] h-0.5 max-w-0 bg-neon transition-all delay-150 duration-500 group-hover:max-w-full group-aria-[current='page']:max-w-full" />
        </div>
      </>
    )
  }

  {
    icon && icon.side === "right" && (
      <>
        <div class="flex flex-col">
          <span class="whitespace-nowrap">{text}</span>
          <span class="-mt-[3px] h-0.5 max-w-0 bg-neon transition-all duration-500 group-hover:max-w-full group-aria-[current='page']:max-w-full" />
        </div>
        <Icon
          name={icon.name}
          height="24"
          width="24"
          class="transition delay-500 group-hover:text-neon"
        />
      </>
    )
  }
</a>
