---
import { slugify, formatDate } from "../ts/utils";

const { category, title, author, date } = Astro.props;
---

<header
  class="my-4 flex flex-col items-center justify-center gap-4 text-center"
>
  <a
    class="rounded-sm border-2 border-neon border-opacity-40 bg-background bg-opacity-80 p-1 text-sm shadow transition duration-300 hover:border-opacity-100 hover:bg-opacity-100 hover:shadow-glow hover:shadow-neon"
    href={`/category/${slugify(category)}`}>{category}</a
  >

  <h1 class="font-tilt text-3xl font-bold uppercase text-neon">{title}</h1>
  <p class="font-bold">
    <!-- Comment in line below if ever multiple authors -->
    <!-- <a href={`/author/${slugify(author)}`} -->
    <a href="/me"
      ><span
        class="transition duration-300 hover:text-neon hover:underline hover:decoration-neon"
        >{author}</span
      ></a
    > &#12316; {formatDate(date)}
  </p>
</header>
