---
import { slugify, formatDate } from "../ts/utils";
import Link from "./Link.astro";
import ImageWithOverlay from "./ImageWithOverlay.astro";

export interface RippleGlassProps {
  data: {
    title: string;
    pubDate: string;
    author: string;
    description: string;
    category: string;
    cover?: any;
    coverAlt?: string;
    updated?: string;
  };
  url: string;
  style?: string;
  class?: string;
  showImage?: boolean;
  priority?: boolean;
}

const {
  data,
  url,
  style,
  class: className,
  showImage = false,
  priority = false,
} = Astro.props as RippleGlassProps;
---

<div
  style={style}
  class={`group/glass flex max-w-sm flex-col items-center justify-evenly gap-2 rounded-xs border-2 border-neon/40 bg-background/80 p-4 text-center shadow-sm transition duration-300 hover:border-neon hover:bg-background hover:shadow-glow hover:shadow-neon ${className}`}
>
  <a
    class="border-neon/30 hover:border-neon hover:shadow-glow hover:shadow-neon group-hover/glass:bg-neon/5 rounded-xs border-2 p-1 text-sm shadow-sm transition duration-300 hover:backdrop-blur-xs"
    href={`/category/${slugify(data.category)}`}>{data.category}</a
  >
  {
    showImage && data.cover && (
      <ImageWithOverlay
        src={data.cover}
        alt={data.coverAlt || data.title}
        width={304}
        height={171}
        transitionName={`ripple-image-${slugify(data.title)}`}
        priority={priority}
      />
    )
  }
  <h3
    class="font-tilt text-neon hover:decoration-neon group-hover/glass:text-primary group-hover/glass:shadow-neon group-hover/glass:text-shadow-glow text-lg font-bold uppercase transition duration-500 hover:underline md:text-xl"
  >
    <a href={url}>{data.title}</a>
  </h3>
  <p class="font-semibold">
    <!-- Comment in line below if ever multiple authors -->
    <!-- <a href={`/author/${slugify(author)}`} -->
    <a href="/me"
      ><span
        class="hover:text-neon hover:decoration-neon transition duration-300 hover:underline"
        >{data.author}</span
      ></a
    > &#12316; {formatDate(data.pubDate)}
  </p>
  {
    data.updated && (
      <p class="font-bold">Updated ~ {formatDate(data.updated)}</p>
    )
  }
  <p>{data.description}</p>
  <Link
    href={url}
    text="Read More"
    icon={{ name: "readmore", side: "right" }}
  />
</div>
