---
import { Image } from "astro:assets";
import { slugify, formatDate } from "../ts/utils";

const { category, title, author, pubDate, cover, coverAlt, updated } =
  Astro.props;
---

<header
  class="my-4 flex flex-col items-center justify-center gap-4 text-center"
>
  <div transition:name={`ripple-image-${slugify(title)}`}>
    <Image src={cover} alt={coverAlt} height="549" width="976" />
  </div>
  <h1 class="font-tilt text-neon text-3xl font-bold uppercase">{title}</h1>
  <p class="font-bold">
    <a href="/me"
      ><span
        class="hover:text-neon hover:decoration-neon transition duration-300 hover:underline"
        >{author}</span
      ></a
    > &#12316; {formatDate(pubDate)}
  </p>
  {updated && <p class="font-bold">Updated ~ {formatDate(updated)}</p>}
  <a
    class="border-neon/40 bg-background/80 hover:border-neon hover:bg-background hover:shadow-glow hover:shadow-neon rounded-xs border-2 p-1 text-sm shadow-sm transition duration-300"
    href={`/category/${slugify(category)}`}>{category}</a
  >
</header>
