---
import { Icon } from "astro-icon/components";
import neonData from "../data/neonData";
---

<section class="relative flex flex-col items-center" transition:persist="theme">
  <div class="flex items-center justify-center gap-2 py-2">
    <button
      class="group grid h-8 w-8 place-items-center rounded-sm border-2 border-neon border-opacity-30 shadow transition duration-300 hover:border-opacity-100 hover:bg-neon hover:bg-opacity-5 hover:shadow-glow hover:shadow-neon"
      data-theme-toggle
      aria-label="toggle theme"
    >
      <Icon
        name="bx:bxs-sun"
        class="h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
      />
    </button>
    <button
      class="group grid h-8 w-8 place-items-center rounded-sm border-2 border-neon border-opacity-30 shadow transition duration-300 hover:border-opacity-100 hover:bg-neon hover:bg-opacity-5 hover:shadow-glow hover:shadow-neon"
      data-neon-toggle
      aria-label="select color"
    >
      <Icon
        name="ic:outline-palette"
        class="h-4 w-4 text-primary transition duration-300 group-hover:text-neon"
      />
    </button>
  </div>
  <p
    data-text-suggestion
    class="absolute bottom-[-16px] text-sm font-bold uppercase text-primary"
  >
    It's better in the dark
  </p>
  <div
    data-neon-container
    class="invisible absolute top-16 z-10 max-w-sm rounded-sm border-2 border-neon border-opacity-40 shadow transition duration-300 hover:border-opacity-100 hover:bg-neon hover:bg-opacity-5 hover:shadow-glow hover:shadow-neon"
  >
    <div
      class="flex flex-col content-center gap-3 bg-background bg-opacity-95 p-4 text-center font-bold text-primary hover:bg-opacity-100 sm:gap-4 sm:p-8"
    >
      <div class="text-xl font-bold">Color select</div>
      <div class="flex justify-evenly gap-3 sm:gap-4">
        {
          neonData.map((color) => (
            <label for={`btn-${color.name}`} class="relative inline-flex">
              <input
                id={`btn-${color.name}`}
                type="radio"
                name="color"
                value={color.name}
                aria-labelledby={`Set neon to ${color.name}`}
                class={`absolute -z-10 h-6 w-6 appearance-none rounded-sm checked:z-10 checked:border checked:border-gray-900 ${color.hex.input} checked:outline checked:outline-white`}
              />
              <span class="sr-only absolute" aria-hidden="true">
                Set neon to {color.name}
              </span>
              <div
                class={`h-6 w-6 rounded-sm border ${color.hex.div.border} border-opacity-75 ${color.hex.div.background} bg-opacity-60 shadow shadow-gray-900 hover:border-none hover:bg-opacity-100 hover:shadow-none hover:outline hover:outline-white`}
              />
            </label>
          ))
        }
      </div>
      <button
        class="group mt-2 grid h-8 w-8 place-items-center self-center rounded-sm border-2 border-neon border-opacity-40 shadow transition duration-300 hover:border-opacity-100 hover:bg-neon hover:bg-opacity-5 hover:shadow-glow hover:shadow-neon"
        data-neon-close
        aria-label="close neon select container"
      >
        <Icon
          name="ic:baseline-close"
          class="h-4 w-4 text-primary group-hover:text-neon"
        />
      </button>
    </div>
  </div>
</section>
