---
import { Icon } from "astro-icon/components";
import neonData from "../data/neonData";
---

<section
  class="relative flex flex-col items-center"
  aria-label="Theme selector"
  transition:persist="theme"
>
  <div class="flex items-center justify-center gap-2 py-2">
    <button
      class="group border-neon/30 hover:border-neon hover:bg-neon/5 hover:shadow-glow hover:shadow-neon grid h-8 w-8 place-items-center rounded-xs border-2 shadow-sm transition duration-300"
      data-theme-toggle
      aria-label="toggle theme"
    >
      <Icon
        name="sun"
        class="text-primary group-hover:text-neon h-4 w-4 transition duration-300"
      />
    </button>
    <button
      class="group border-neon/30 hover:border-neon hover:bg-neon/5 hover:shadow-glow hover:shadow-neon grid h-8 w-8 place-items-center rounded-xs border-2 shadow-sm transition duration-300"
      data-neon-toggle
      aria-label="select color"
    >
      <Icon
        name="palette"
        class="text-primary group-hover:text-neon h-4 w-4 transition duration-300"
      />
    </button>
  </div>
  <p
    data-text-suggestion
    class="animate-shake text-primary animate-delay-1000 absolute -bottom-4.5 text-sm font-bold uppercase"
  >
    It's better in the dark
  </p>
  <div
    data-neon-container
    class="border-neon/40 hover:border-neon hover:bg-neon/5 hover:shadow-glow hover:shadow-neon invisible absolute top-16 z-10 max-w-sm rounded-xs border-2 shadow-sm transition duration-300"
  >
    <div
      class="bg-background/95 text-primary hover:bg-background flex flex-col content-center gap-3 p-4 text-center font-bold sm:gap-4 sm:p-8"
    >
      <div class="text-xl font-bold">Color select</div>
      <div class="flex justify-evenly gap-3 sm:gap-4">
        {
          neonData.map((color) => (
            <label for={`btn-${color.name}`} class="relative inline-flex">
              <input
                id={`btn-${color.name}`}
                type="radio"
                name="color"
                value={color.name}
                class={`absolute -z-10 h-6 w-6 appearance-none rounded-xs checked:z-10 checked:border checked:border-gray-900 ${color.hex.input} checked:outline-white checked:outline-solid`}
              />
              <span class="sr-only">Set neon to {color.name}</span>
              <div
                class={`h-6 w-6 rounded-xs border ${color.hex.div.border} ${color.hex.div.background} shadow-sm shadow-gray-900 hover:border-none hover:${color.hex.div.backgroundHover} hover:shadow-none hover:outline-white hover:outline-solid`}
              />
            </label>
          ))
        }
      </div>
      <button
        class="group border-neon/40 hover:border-neon hover:bg-neon/5 hover:shadow-glow hover:shadow-neon mt-2 grid h-8 w-8 place-items-center self-center rounded-xs border-2 shadow-sm transition duration-300"
        data-neon-close
        aria-label="close neon select container"
      >
        <Icon name="close" class="text-primary group-hover:text-neon h-4 w-4" />
      </button>
    </div>
  </div>
</section>
