---
import RippleHeader from "../components/RippleHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";

const { frontmatter } = Astro.props;
const { title, date, author, description, category } = frontmatter;
---

<MainLayout title={title} description={description}>
  <div class="my-4 grid w-full place-items-center">
    <div class="grid max-w-5xl place-items-center gap-6 p-6">
      <RippleHeader
        title={title}
        date={date}
        author={author}
        category={category}
      />
      <div
        class="grid gap-6 p-6 [&>:nth-child(2):first-letter]:float-left [&>:nth-child(2):first-letter]:mr-1.5 [&>:nth-child(2):first-letter]:font-tilt [&>:nth-child(2):first-letter]:text-5xl [&>:nth-child(2):first-letter]:font-bold [&>:nth-child(2):first-letter]:text-neon"
      >
        <slot />
      </div>
    </div>
  </div>
</MainLayout>
