---
import RippleHeader from "../components/RippleHeader.astro";
import MainLayout from "../layouts/MainLayout.astro";

const { frontmatter } = Astro.props;
const { title, date, author, description, category } = frontmatter;
---

<MainLayout title={title} description={description}>
  <div class="my-4 grid w-full place-items-center">
    <div class="grid max-w-5xl place-items-center gap-6 p-6">
      <RippleHeader
        title={title}
        date={date}
        author={author}
        category={category}
      />
      <slot />
    </div>
  </div>
</MainLayout>
