---
import RippleHeader from "../components/RippleHeader.astro";
import Wavelengths from "../components/Wavelengths.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SimilarRipples from "../components/SimilarRipples.astro";

import { formatRipples, type Ripple, slugify } from "../ts/utils";

const { frontmatter } = Astro.props;
const { title, date, author, description, category } = frontmatter;

const allRipples = await Astro.glob("../posts/*.mdx");
const ripples: Ripple[] = allRipples.map((ripple) => ({
  frontmatter: ripple.frontmatter as Ripple["frontmatter"],
  url: slugify(ripple.frontmatter.title),
  category: ripple.frontmatter.category,
}));
const formattedRipples = formatRipples(ripples, { sortByDate: false });
const similarRipples = formattedRipples
  .filter(
    (ripple) =>
      ripple.category === category && ripple.frontmatter.title !== title,
  )
  .slice(0, 2);
---

<MainLayout title={title} description={description}>
  <div class="my-4 grid w-full place-items-center">
    <div class="grid max-w-5xl place-items-center gap-6 p-6">
      <RippleHeader
        title={title}
        date={date}
        author={author}
        category={category}
      />
      <div
        class="grid max-w-2xl gap-6 bg-background bg-opacity-95 pb-6 [&>:nth-child(2):first-letter]:float-left [&>:nth-child(2):first-letter]:mr-1.5 [&>:nth-child(2):first-letter]:font-tilt [&>:nth-child(2):first-letter]:text-7xl [&>:nth-child(2):first-letter]:font-bold [&>:nth-child(2):first-letter]:text-neon [&>ol]:list-inside [&>ol]:list-decimal [&>ol]:px-6 [&>p]:px-6 [&>ul]:list-inside [&>ul]:list-disc [&>ul]:px-6"
      >
        <slot />
      </div>
      <aside
        class="mb-8 flex flex-col items-center justify-center gap-2 px-1"
        aria-label="Different waves"
      >
        <h2 class="text-lg font-semibold">Different ripples</h2>
        <Wavelengths showCount={true} />
      </aside>
      <aside
        class="mb-8 flex flex-col items-center justify-center gap-2 px-1"
        aria-label="Similar ripples"
      >
        <h2 class="text-lg font-semibold">Similar ripples</h2>
        <SimilarRipples {similarRipples} />
      </aside>
    </div>
  </div>
</MainLayout>
